<div class="all-posts container mt-3">
  <!-- prettier-ignore -->
  {% if posts %} 
    {% for post in posts %} 
        {% include 'network/post_layout.html' %} 
    {% endfor %} {% else %}
  <p>User has not posted anything.</p>
  {% endif %}

  <!-- Pagination -->
  <nav class="pagination-container navigation">
    <ul class="pagination">
      {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}"
          >previous</a
        >
      </li>
      {% endif %} {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.paginator.num_pages }}"
          >&raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
