<!-- prettier-ignore -->
{% extends "layout.html" %} {% block body %}
<h2>Manage join Requests</h2>
<ul>
  {% for request in pending_requests %}
  <li>{{ request.player.username }}</li>
  <form action="{% url 'approve_request' request.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Approve</button>
  </form>
  <form action="{% url 'reject_request' request.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Reject</button>
  </form>
  {% endfor %}
</ul>
{% endblock %}
